 /* .NavbarEx {
     overflow: hidden;
    background-color: rgb(66, 101, 116); 
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
  } 

       .NavbarEx a {
     float: left;
     display: block; 
     color: white; 
     text-align:s center; 
    padding: 14px 20px;
    text-decoration: none; 
  }     */
  